* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grid {
    display: grid;
   /* grid-template-columns: 1fr 1fr;*/  /*fraction*/
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
            "footer footer . ."
            "footer footer header header"
            "sidebar sidebar sidebar sidebar"
            "content content title title"
            ". . title title"
            ;
}

.title {
    /*grid-column-end: span 1;*/
    /*grid-row-end: span 2;*/
    grid-area: title;
}

.header {
    /*grid-area: header;*/
    grid-area: header;
}
.sidebar {
    /*grid-area: sidebar;*/
    grid-area: sidebar;
}
.content {
    /*grid-area: content*/
    grid-area: content;
}
.footer {
    /*grid-area: footer;*/
    grid-area: footer;
}

.grid div:nth-child(even) {
    background-color: red;
    border: 2px solid black;
}
.grid div:nth-child(odd) {
    background-color: green;
    border: 2px solid black;
}
